.hero-section{
	background-color: #f5f5f5;
	padding: 8px;
	width: 600px;
	height: 200px;
}
.first-section{
	background-color:white;
	margin-left:20px;
	margin-right: 20px;
	padding: 5px;
	font-size: 12px;
	margin-bottom: 10px;
}

.second-section{
	background-color:white;
	margin-left:20px;
	margin-right: 20px;
	padding: 5px;
	font-size: 12px;
}

h2{
	margin-left:20px;
	margin-bottom:10px;
}